/* _content/ProEShop.Web/Pages/Identity/LoginWithPhoneNumber.cshtml.rz.scp.css */
#login-register-text[b-et3ehjdo6l] {
    font-weight: bold;
}

#login-box[b-et3ehjdo6l] {
    margin-top: 9rem;
}

[b-et3ehjdo6l] img#register-login-picture {
    width: 140px;
}
/* _content/ProEShop.Web/Pages/Identity/RegisterLogin.cshtml.rz.scp.css */
#login-register-text[b-ksdgitrxxw] {
    font-weight: bold;
}

#login-box[b-ksdgitrxxw] {
    margin-top: 9rem;
}

[b-ksdgitrxxw] img#register-login-picture {
    width: 140px;
}
