/* _content/ProEshop.web/Pages/Identity/RegisterLogin.cshtml.rz.scp.css */
#login-register-text[b-rapmmf4hp5] {
    font-weight: bold;
}

#login-box[b-rapmmf4hp5] {
    margin-top: 9rem;
}

[b-rapmmf4hp5] img#register-login-picture {
    width: 140px;
}
/* _content/ProEshop.web/Pages/Shared/_IdentityLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9buk5o5mni] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9buk5o5mni] {
  color: #0077cc;
}

.btn-primary[b-9buk5o5mni] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9buk5o5mni], .nav-pills .show > .nav-link[b-9buk5o5mni] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9buk5o5mni] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9buk5o5mni] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9buk5o5mni] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9buk5o5mni] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9buk5o5mni] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProEshop.web/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-imi397l7wf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-imi397l7wf] {
  color: #0077cc;
}

.btn-primary[b-imi397l7wf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-imi397l7wf], .nav-pills .show > .nav-link[b-imi397l7wf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-imi397l7wf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-imi397l7wf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-imi397l7wf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-imi397l7wf] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-imi397l7wf] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
